<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="designerapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="com.bizvisionsoft.bruidesigner.designerapp"
            brandingId="com.bizvisionsoft.bruidesigner.branding"
            id="designer.entrypoint"
            path="/designer">
      </entrypoint>
   </extension>
   <extension
         id="com.bizvisionsoft.bruidesigner.designerapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="com.bizvisionsoft.bruidesigner.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="站点"
            class="com.bizvisionsoft.bruidesigner.Perspective"
            id="com.bizvisionsoft.bruidesigner.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="组件库"
            icon="icons/package.png"
            class="com.bizvisionsoft.bruidesigner.view.AssyLibView"
            id="com.bizvisionsoft.bruidesigner.view.AssyLibView">
      </view>
      <view
            allowMultiple="false"
            class="com.bizvisionsoft.bruidesigner.view.SiteView"
            icon="icons/site.png"
            id="com.bizvisionsoft.bruidesigner.view.SiteView"
            name="站点结构"
            restorable="false">
      </view>
      <view
            class="com.bizvisionsoft.bruidesigner.view.FolderView"
            icon="icons/folder.png"
            id="com.bizvisionsoft.bruidesigner.view.FolderView"
            name="组件库"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="com.bizvisionsoft.bruidesigner.branding"
            title="Bizvision Soft - BrickUI Designer">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:bruidesigner.site">
         <command
               commandId="bruidesigner.addPage"
               id="bruidesigner.addPage"
               label="添加页面"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Site">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.removePage"
               id="bruidesigner.removePage"
               label="删除页面"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Page">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addAssembly"
               id="bruidesigner.addAssembly"
               label="添加组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.ContentArea">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.removeAssembly"
               id="bruidesigner.removeAssembly"
               label="移除组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.AssemblyLink">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?after=additions">
         <command
               commandId="bruidesigner.save"
               icon="icons/upload.png"
               id="bruidesigner.save"
               label="提交修改"
               mode="FORCE_TEXT"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.bizvisionsoft.bruidesigner.view.AssyLibView?after=additions">
         <command
               commandId="bruidesigner.addAssemblyToLib"
               icon="icons/add.png"
               id="bruidesigner.addAssemblyToLib"
               label="创建自定义组件"
               style="push">
         </command>
         <command
               commandId="bruidesigner.addStickerAssemblyToLib"
               id="bruidesigner.addStickerAssemblyToLib"
               label="创建带有标题栏的容器组件"
               style="push">
         </command>
         <command
               commandId="bruidesigner.addGridAssemblyToLib"
               id="bruidesigner.addGridAssemblyToLib"
               label="创建表格组件"
               style="push">
         </command>
         <command
               commandId="bruidesigner.addEditorAssemblyToLib"
               id="bruidesigner.addEditorAssemblyToLib"
               label="创建编辑器组件"
               style="push">
         </command>
         <command
               commandId="bruidesigner.addGanttAssemblyToLib"
               id="bruidesigner.addGanttAssemblyToLib"
               label="创建甘特图组件"
               style="push">
         </command>
         <separator
               name="com.bizvisionsoft.bruidesigner.separator1"
               visible="true">
         </separator>
         <command
               commandId="bruidesigner.deleteAssemblyFromLib"
               icon="icons/delete.gif"
               id="bruidesigner.deleteAssemblyFromLib"
               label="删除组件"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:bruidesigner.folder">
         <command
               commandId="bruidesigner.createFolder"
               id="bruidesigner.createFolder"
               label="创建目录"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.deleteFolder"
               id="bruidesigner.deleteFolder"
               label="删除目录"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.bizvisionsoft.bruidesigner.separator0"
               visible="true">
         </separator>
         <command
               commandId="bruidesigner.addAssemblyToLib"
               icon="icons/add.png"
               id="bruidesigner.addAssemblyToLib"
               label="创建自定义组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addStickerAssemblyToLib"
               id="bruidesigner.addStickerAssemblyToLib"
               label="创建带有标题栏的容器组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addGridAssemblyToLib"
               id="bruidesigner.addGridAssemblyToLib"
               label="创建表格组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addEditorAssemblyToLib"
               id="bruidesigner.addEditorAssemblyToLib"
               label="创建编辑器组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addGanttAssemblyToLib"
               id="bruidesigner.addGanttAssemblyToLib"
               label="创建甘特图组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addSelectorAssemblyToLib"
               id="bruidesigner.addSelectorAssemblyToLib"
               label="创建弹出式选择器组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.bizvisionsoft.bruidesigner.separator1"
               visible="true">
         </separator>
         <command
               commandId="bruidesigner.deleteAssemblyFromLib"
               icon="icons/delete.gif"
               id="bruidesigner.deleteAssemblyFromLib"
               label="删除组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Assembly">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.duplicateAssembly"
               id="bruidesigner.duplicateAssembly"
               label="复制组件"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Assembly">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="bruidesigner.addAssemblyToFolder"
               id="bruidesigner.addAssemblyToFolder"
               label="添加组件到当前目录"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.bizvisionsoft.bruicommons.model.Folder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.SaveSite"
            id="bruidesigner.save"
            name="保存">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.CreateAssembly"
            id="bruidesigner.addAssemblyToLib"
            name="创建组件">
      </command>
      <command
            id="bruidesigner.deleteAssemblyFromLib"
            name="删除组件">
      </command>
      <command
            id="bruidesigner.addPage"
            name="添加页面">
      </command>
      <command
            id="bruidesigner.removePage"
            name="删除页面">
      </command>
      <command
            id="bruidesigner.addAssembly"
            name="添加组件">
      </command>
      <command
            id="bruidesigner.removeAssembly"
            name="移除组件">
      </command>
      <command
            id="bruidesigner.createFolder"
            name="创建目录">
      </command>
      <command
            id="bruidesigner.deleteFolder"
            name="删除目录">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.CreateStickerAssembly"
            id="bruidesigner.addStickerAssemblyToLib"
            name="创建带有标题栏的容器组件">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.CreateGridAssembly"
            id="bruidesigner.addGridAssemblyToLib"
            name="创建表格组件">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.CreateEditorAssembly"
            id="bruidesigner.addEditorAssemblyToLib"
            name="创建编辑器组件">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.CreateGanttAssembly"
            id="bruidesigner.addGanttAssemblyToLib"
            name="创建甘特图组件">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.CreateSelectorAssembly"
            id="bruidesigner.addSelectorAssemblyToLib"
            name="创建弹出式选择器组件">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.AddAssemblyToFolder"
            id="bruidesigner.addAssemblyToFolder"
            name="添加组件到当前目录">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.Copy"
            id="bruidesigner.copy"
            name="复制">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.Paste"
            id="bruidesigner.paste"
            name="粘贴">
      </command>
      <command
            defaultHandler="com.bizvisionsoft.bruidesigner.command.DuplicateAssembly"
            id="bruidesigner.duplicateAssembly"
            name="复制组件">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bizvisionsoft.bruidesigner.command.DeleteAssembly"
            commandId="bruidesigner.deleteAssemblyFromLib">
      </handler>
      <handler
            class="com.bizvisionsoft.bruidesigner.command.AddPage"
            commandId="bruidesigner.addPage">
      </handler>
      <handler
            class="com.bizvisionsoft.bruidesigner.command.RemovePage"
            commandId="bruidesigner.removePage">
      </handler>
      <handler
            class="com.bizvisionsoft.bruidesigner.command.AddAssembly"
            commandId="bruidesigner.addAssembly">
      </handler>
      <handler
            class="com.bizvisionsoft.bruidesigner.command.RemoveAssembly"
            commandId="bruidesigner.removeAssembly">
      </handler>
      <handler
            class="com.bizvisionsoft.bruidesigner.command.CreateFolder"
            commandId="bruidesigner.createFolder">
      </handler>
      <handler
            class="com.bizvisionsoft.bruidesigner.command.DeleteFolder"
            commandId="bruidesigner.deleteFolder">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.SiteEditor"
            default="false"
            icon="icons/root.png"
            id="bruidesigner.siteEditor"
            name="站点">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.PageEditor"
            default="false"
            icon="icons/page.png"
            id="bruidesigner.pageEditor"
            name="页面">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.SidebarEditor"
            default="false"
            icon="icons/sidebar.png"
            id="bruidesigner.sidebarEditor"
            name="侧边栏">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.FootbarEditor"
            default="false"
            icon="icons/footbar.png"
            id="bruidesigner.footbarEditor"
            name="底栏">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.HeadbarEditor"
            default="false"
            icon="icons/headbar.png"
            id="bruidesigner.headbarEditor"
            name="顶栏">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblyEditor"
            default="false"
            icon="icons/assembly.png"
            id="bruidesigner.assemblyEditor"
            name="组件">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.TemplateEditor"
            default="false"
            icon="icons/template.png"
            id="bruidesigner.templateEditor"
            name="模板">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblyLinkEditor"
            default="false"
            icon="icons/package.png"
            id="bruidesigner.assemblyLinkEditor"
            name="关联组件">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.DataSourceEditor"
            default="false"
            icon="icons/database.png"
            id="bruidesigner.dataSourceEditor"
            name="数据源">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblyStickerEditor"
            default="false"
            icon="icons/sticker.png"
            id="bruidesigner.assemblyStickerEditor"
            name="带标题栏的组件">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblyGridEditor"
            default="false"
            icon="icons/table.png"
            id="bruidesigner.assemblyGridEditor"
            name="表格组件">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblyEditorEditor"
            default="false"
            icon="icons/form.png"
            id="bruidesigner.assemblyEditorEditor"
            name="编辑器组件">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblyGanttEditor"
            default="false"
            icon="icons/gantt.png"
            id="bruidesigner.assemblyGanttEditor"
            name="甘特图组件">
      </editor>
      <editor
            class="com.bizvisionsoft.bruidesigner.editor.AssemblySelectorEditor"
            default="false"
            icon="icons/selector.png"
            id="bruidesigner.assemblySelectorEditor"
            name="选择器组件">
      </editor>
   </extension>

</plugin>
