.gradient-indigo {
	background: -webkit-linear-gradient(15deg, #5c6bc0, #1a237e) !important;
	background: -o-linear-gradient(15deg, #5c6bc0, #1a237e) !important;
	background: -moz-linear-gradient(15deg, #5c6bc0, #1a237e) !important;
	background: linear-gradient(15deg, #5c6bc0, #1a237e) !important;
}

.gradient-teal {
	background: -webkit-linear-gradient(15deg, #26a69a, #004d40) !important;
	background: -o-linear-gradient(15deg, #26a69a, #004d40) !important;
	background: -moz-linear-gradient(15deg, #26a69a, #004d40) !important;
	background: linear-gradient(15deg, #26a69a, #004d40) !important;
}

.gradient-red {
	background: -webkit-linear-gradient(15deg, #e84e40, #b0120a) !important;
	background: -o-linear-gradient(15deg, #e84e40, #b0120a) !important;
	background: -moz-linear-gradient(15deg, #e84e40, #b0120a) !important;
	background: linear-gradient(15deg, #e84e40, #b0120a) !important;
}

.gradient-orange {
	background: -webkit-linear-gradient(15deg, #ffa726, #e65100) !important;
	background: -o-linear-gradient(15deg, #ffa726, #e65100) !important;
	background: -moz-linear-gradient(15deg, #ffa726, #e65100) !important;
	background: linear-gradient(15deg, #ffa726, #e65100) !important;
}

.brui_blur {
	-webkit-filter: brightness(0.8) blur(14px);
	-moz-filter: brightness(0.8) blur(14px);
	-ms-filter: brightness(0.8) blur(14px);
	filter: brightness(0.8) blur(14px);
}

.brui_login_bg {
	background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#fff),linear-gradient(70deg,#dbedff 32%,#ebfff0) !important;
}

.brui_grey_bg {
	background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#a2a2a2),linear-gradient(70deg,#cccccc 32%,#f1f1f1) !important;
}

.brui_bg_spiky_naga {
	background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

.brui_bg_deep_relief {
	background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}

.brui_bg_dirty_beauty {
	background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.brui_bg_saint_petersburg {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.brui_bg_sharpeye_eagle {
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.brui_bg_blessing {
	background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.brui_bg_plum_plate {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.brui_bg_new_york {
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.brui_bg_fly_high {
	background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.brui_bg_soft_grass {
	background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.brui_bg_kind_steel {
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.brui_bg_great_whale {
	background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.brui_card {
	background: #fff !important;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.2),inset 0 0 3px #fff !important;
	box-shadow: 0 0 12px rgba(0,0,0,.2),inset 0 0 3px #fff !important;
	border-radius: 4px !important;
}

.brui_card_head {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}

.brui_icon {
	background: #fff !important;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.08),inset 0 0 3px #fff !important;
	box-shadow: 0 0 20px rgba(0,0,0,.08),inset 0 0 3px #fff !important;
	border-radius: 24px !important;
}

.brui_translucent_blue {
	background: -webkit-linear-gradient(135deg, #03b0ff, #00000000) !important;
	background: -o-linear-gradient(135deg, #03b0ff, #00000000) !important;
	background: -moz-linear-gradient(135deg, #03b0ff, #00000000) !important;
	background: linear-gradient(135deg, #03b0ff, #00000000) !important;
}

.brui_segmentLeft {
	border-radius: 36px 0px 0px 36px !important;
}

.brui_segmentRight {
	border-radius: 0px 36px 36px 0px !important;
}

.brui_borderTop {
	border-top: 1px solid #d9d9d9 !important;
}

.brui_borderBottom {
	border-bottom: 1px solid #d9d9d9 !important;
}

.brui_borderLeft {
	border-left: 1px solid #d9d9d9 !important;
}

.brui_borderRight {
	border-right: 1px solid #d9d9d9 !important;
}

.brui_indicator {
	text-align:center;
	border-radius:5px;
	padding: 2px 4px;
}

.brui_bg_lightgrey {
	background: #f5f5f5;
}

.menu {
	position: relative;
	background: #fff;
	border: 1px solid #888888;
	box-shadow: 2px 2px 12px #888888;
}

.menu:after {
	position: absolute;
	display: inline-block;
	top: 36px;
	left: 140px;
	width: 0;
	height: 0px;
	content: '';
	border-style: solid;
	border-width: 20px;
	border-color: #fff #fff transparent transparent;
	transform: rotate(135deg);
	box-shadow: 2px 2px 12px #888888;
}

.cellbutton {
	animation: none;
	cursor: pointer;
	margin-right: 12px;
	height: 28px;
	width: 28px;
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}

.default {
	border: 1px solid #c9c9c9;
	background-color: #ffffff;
	color: #4a4a4a;
}

.default:hover {
	border: 1px solid #03a9f4;
	background-color: #ffffff;
	color: #4a4a4a;
}

.default:active {
	border: 1px solid #03a9f4;
	background-color: #999999;
	color: #4a4a4a;
}

.brui_elem_item {
	background-color: #b0bec5;
	color: #ffffff;
}

.brui_elem_item:hover {
	background-color: #78909c;
	color: #ffffff;
}

.brui_elem_item_selected{
	background-color: #607d8b;
	color: #ffffff;
}

.brui_text_line {
	overflow: hidden;
	word-break: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.normal {
	background-color: #009688;
	color: #ffffff;
}

.normal:hover {
	background-color: #4db6ac;
	color: #ffffff;
}

.normal:active {
	background-color: #004d40;
	color: #ffffff;
}

.info {
	background-color: #03a9f4;
	color: #ffffff;
}

.info:hover {
	background-color: #4fc3f7;
	color: #ffffff;
}

.info:active {
	background-color: #01579b;
	color: #ffffff;
}

.warning {
	background-color: #ff9800;
	color: #ffffff;
}

.warning:hover {
	background-color: #ffb74d;
	color: #ffffff;
}

.warning:active {
	background-color: #e65100;
	color: #ffffff;
}

.serious {
	background-color: #e51c23;
	color: #ffffff;
}

.serious:hover {
	background-color: #f36c60;
	color: #ffffff;
}

.serious:active {
	background-color: #b0120a;
	color: #ffffff;
}

.label_button {
	font-size: 14px;
}

.label_menu {
	font-size: 14px;
}

.label_caption {
	font-size: 12px;
}

.label_body1 {
	font-size: 14px;
}

.label_body2 {
	font-size: 14px;
}

.label_subhead {
	font-size: 16px;
}

.label_title {
	font-size: 20px;
	font-weight:lighter;
}

.label_card {
	font-size: 18px;
}

.label_headline {
	font-size: 24px;
}

.label_display1 {
	font-size: 34px;
}

.label_display2 {
	font-size: 45px;
}

.label_display3 {
	font-size: 56px;
}

.label_display4 {
	font-size: 112px;
	font-weight: lighter;
}

.level1_task {
	border: 1px solid #303f9f !important;
	background: #5c6bc0 !important;
}

.level2_task {
	border: 1px solid #0288d1 !important;
	background: #03a9f4 !important;
}

